.container {
  margin: 0;
  padding: 0;
  ._content-container {
    ._router-container {
      display: flex;

      ._router {
        display: flex;
        ul {
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          li {
            margin: 0;
            padding-bottom: 0;
          }
        }
        ._stream-cards {
          padding-top: $m-size;
          .card {
            margin: $s-size;
          }
        }
      }
    }
  }
}

// Media Querys that handle navigation responsivness
@media (max-width: 768px) {
  ._router-container {
    margin: 0;
    z-index: -1;
  }
  .container {
    ._content-container {
      ._router-container {
        width: 100vw;
      }
      ._stream-cards {
        margin-top: $xl-size * 1.5;

        ul {
          padding: 0;
          li {
            .card {
              margin-bottom: $m-size;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
