.container {
  margin: 0;
  padding: 0;
  max-width: 1340px;
  ._content-container {
    ._router-container {
      display: flex;
      ._router {
        display: flex;
        ._stream-cards {
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          margin-left: 25rem;
          ul {
            li {
              margin: 0;
              padding-bottom: 0;
            }
          }
        }
        ._stream-cards {
          padding-top: $m-size;
          .card {
            margin: $s-size;
          }
        }
      }
    }
  }
}

// Media Querys that handle navigation responsivness
@media (max-width: 768px) {
  .container {
    ._content-container {
      ._router-container {
        ._router {
          ._stream-cards {
            margin-left: 0;
          }
        }
      }
    }
  }
}
