// Colors
$background-light-grey: #F6F6F6;
$dark-grey: #595959;
$border-grey: #DEDEDE;
$active-grey: #E6E6E6;
$active-color: #53A0BE;
// Spacing
$s-size: 1.4rem;
$m-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
// Margins
$s-margine: 0.5rem;
// Padding
$s-padding: 0.8rem;
$m-padding: 1.6rem;

// Nav width
$nav-width: 20rem;
